.card {
  border-radius: 8px;
  border: 2px solid black;
  width: 200px;
  height: 250px;
  margin: 20px;
  display: inline-block;
  position: relative;
}

.clubs::after {
  content: "♣";
  display: block;
}

.spades::after {
  content: "♠";
  display: block;
}

.hearts::after {
  content: "♥";
  display: block;
}

.diamonds::after {
  content: "♦";
  display: block;
}

.letter {
  font-size: 32px;
  font-weight: bold;
  display: block;
  text-align: center;
}

.upper-left {
  position: absolute;
  left: 10px;
  top: 10px;
}

.lower-right {
  position: absolute;
  right: 10px;
  bottom: 10px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.center-center {
  position: absolute;
  left: 60px;
  top: 60px;
  font-size: 104px;
}

.red {
  color: red;
}